# Git
.git
.gitignore
.dockerignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
env/

# IDE
.idea/
.vscode/

# temp
result_files/
temp_files/
.env
.env.bak
celerybeat-schedule
celerybeat.pid 